@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.flex{
    display: flex;
}
.border{
    margin: 1px;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}
.bg-black{
    background-color: black;
    color: rgb(167, 167, 167);
}
.bg-grey{
    background-color: #121212;
}
.rounded{
    border-radius: 7px;
}
.m-1{
    margin: 2px;
}

.p-1{
    padding: 4px;
}
.p-2{
    padding: 20px;
}